In [19]:
VALID_SITES = ['amani','csir_agincourt', 'csir_dnyala', 'csir_ireagh', 'csir_justicia', 'csir_venetia', 'csir_welverdient', 'drc_ghent_field_32635', 
               'drc_ghent_field_32733', 'drc_ghent_field_32734', 'gsfc_mozambique', 'jpl_lope', 'jpl_rabi', 'tanzania_wwf_germany', 'khaoyai_thailand', 
               'chowilla', 'credo', 'karawatha', 'litchfield', 'rushworth_forests', 'tern_alice_mulga', 'tern_robson_whole', 'costarica_laselva2019', 
               'skidmore_bayerischer', 'zofin_180607', 'spain_exts1', 'spain_exts2', 'spain_exts3', 'spain_exts4', 'spain_leonposada', 'spain_leon1', 
               'spain_leon2', 'spain_leon3', 'jpl_borneo_004', 'jpl_borneo_013', 'jpl_borneo_040', 'jpl_borneo_119', 'jpl_borneo_144', 'chave_paracou', 
               'embrapa_brazil_2020_and_a01', 'embrapa_brazil_2020_bon_a01', 'embrapa_brazil_2020_cau_a01', 'embrapa_brazil_2020_duc_a01', 
               'embrapa_brazil_2020_hum_a01', 'embrapa_brazil_2020_par_a01', 'embrapa_brazil_2020_rib_a01', 'embrapa_brazil_2020_tal_a01',
               'embrapa_brazil_2020_tan_a01', 'embrapa_brazil_2020_tap_a01', 'embrapa_brazil_2020_tap_a04', 'walkerfire_20191007', 
               'neon_abby2018', 'neon_abby2019', 'neon_abby2021', 'neon_bart2018', 'neon_bart2019', 'neon_blan2019', 'neon_blan2021', 
               'neon_clbj2018', 'neon_clbj2019', 'neon_clbj2021', 'neon_clbj2022', 'neon_dela2018', 'neon_dela2019', 'neon_dela2021', 
               'neon_dsny2018', 'neon_dsny2021', 'neon_grsm2018', 'neon_grsm2021', 'neon_guan2018', 'neon_harv2018', 'neon_harv2019', 
               'neon_jerc2019', 'neon_jerc2021', 'neon_jorn2018', 'neon_jorn2019', 'neon_jorn2021', 'neon_konz2019', 'neon_konz2020', 
               'neon_leno2018', 'neon_leno2019', 'neon_leno2021', 'neon_mlbs2018', 'neon_mlbs2021', 'neon_moab2018', 'neon_moab2021', 
               'neon_niwo2019', 'neon_niwo2020', 'neon_nogp2021', 'neon_onaq2019', 'neon_onaq2021', 'neon_osbs2018', 'neon_osbs2019', 
               'neon_osbs2021', 'neon_puum2020', 'neon_rmnp2018', 'neon_rmnp2020', 'neon_scbi2019', 'neon_scbi2021', 'neon_serc2019', 
               'neon_serc2021', 'neon_sjer2019', 'neon_soap2018', 'neon_soap2019', 'neon_soap2021', 'neon_srer2019', 'neon_srer2021', 
               'neon_stei2019', 'neon_stei2020', 'neon_ster2021', 'neon_tall2018', 'neon_tall2019', 'neon_tall2021', 'neon_teak2021', 
               'neon_ukfs2018', 'neon_ukfs2019', 'neon_ukfs2020', 'neon_unde2019', 'neon_unde2020', 'neon_wood2021', 'neon_wref2019', 
               'neon_wref2021', 'neon_yell2018', 'neon_yell2019', 'neon_yell2020', 
               'neon_blan2022', 'neon_grsm2022', 'neon_moab2022', 'neon_onaq2022', 'neon_rmnp2022', 'neon_serc2022', 
               'neon_stei2022', 'neon_steicheq2022', 'neon_ster2022', 'neon_unde2022', 'inpe_brazil31983', 'inpe_brazil31981', 
               'inpe_brazil31979', 'inpe_brazil31976', 'inpe_brazil31975', 'inpe_brazil31973', 'inpe_brazil31974', 'inpe_brazil31978', 
               'csir_limpopo','jrsrp_ilcp2015_wholeq6']

In [20]:
len(VALID_SITES), len(set(VALID_SITES))

(145, 145)

In [21]:
import geopandas  as gpd
gdf =  gpd.read_parquet('/gpfs/data1/vclgp/xiongl/ProjectIS2CalVal/data/all_sites_20231218.parquet')

In [22]:
gdf.head()

,region,name,area_ha,epsg,geometry
0,usa,usda_me,562710.549007,26919,"MULTIPOLYGON (((-70.48145 45.36351, -70.48145 ..."
1,usa,plumasnf_20180707,861751.014503,3310,"MULTIPOLYGON (((-121.56314 39.67990, -121.5631..."
2,australia,tern_robson_whole,3428.721642,28355,"POLYGON ((145.62333 -17.12994, 145.61720 -17.1..."
3,seasia,jpl_borneo_013,3829.727945,32750,"POLYGON ((114.46872 -2.15843, 114.46872 -2.158..."
4,usa,stri_serc_Oct2011,1263.062788,32618,"MULTIPOLYGON (((-76.56098 38.87436, -76.56098 ..."

In [28]:
gdf = gdf.drop_duplicates(subset='name')

In [29]:
filtered_df = gdf[gdf['name'].isin(VALID_SITES)]

In [30]:
filtered_df

,region,name,area_ha,epsg,geometry
2,australia,tern_robson_whole,3428.721642,28355,"POLYGON ((145.62333 -17.12994, 145.61720 -17.1..."
3,seasia,jpl_borneo_013,3829.727945,32750,"POLYGON ((114.46872 -2.15843, 114.46872 -2.158..."
5,australia,litchfield,2619.714151,28352,"MULTIPOLYGON (((130.76650 -13.18500, 130.76643..."
8,usa,neon_leno2019,16114.909258,32616,"POLYGON ((-88.25040 31.82899, -88.25039 31.828..."
16,usa,neon_stei2019,14466.831413,32616,"MULTIPOLYGON (((-89.48059 45.44158, -89.48059 ..."
...,...,...,...,...,...
441,usa,neon_wref2019,43309.300341,32610,"MULTIPOLYGON (((-122.06173 45.79346, -122.0617..."
442,usa,neon_mlbs2018,4459.101307,32617,"MULTIPOLYGON (((-80.59788 37.32139, -80.59788 ..."
449,africa,jpl_rabi,1204.011335,32732,"POLYGON ((9.87509 -1.92717, 9.87115 -1.92717, ..."
451,australia,tern_alice_mulga,5670.280434,28353,"MULTIPOLYGON (((133.22268 -22.30508, 133.22268..."
452,usa,neon_niwo2019,28440.583729,32613,"POLYGON ((-105.65342 40.01806, -105.65342 40.0..."

In [31]:
repeated_sites = filtered_df['name'].value_counts()
repeated_sites = repeated_sites[repeated_sites > 1]
print(repeated_sites)

Series([], Name: name, dtype: int64)

In [32]:
filtered_df.to_parquet('/gpfs/data1/vclgp/xiongl/ProjectIS2CalVal/data/calval_sites_20250721.parquet')

/tmp/ipykernel_146433/3142056477.py:1: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  filtered_df .to_parquet('/gpfs/data1/vclgp/xiongl/ProjectIS2CalVal/data/calval_sites_20250721.parquet')