In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
df = pd.read_parquet('/gpfs/data1/vclgp/xiongl/ProjectIS2CalVal/report/is2_calval_stat_v20240129.parquet')
df_sample = df[:100]
#ddf = dd.from_pandas(df[['land_segments/longitude_20m','land_segments/latitude_20m' ]], npartitions=5)

In [72]:
ddf = dd.from_pandas(df[['land_segments/longitude_20m','land_segments/latitude_20m','land_segments/delta_time']], npartitions=1000)
ddf

Dask DataFrame Structure:
                 land_segments/longitude_20m land_segments/latitude_20m land_segments/delta_time
npartitions=1000
0                                    float32                    float32                  float64
2107                                     ...                        ...                      ...
...                                      ...                        ...                      ...
2103993                                  ...                        ...                      ...
2106098                                  ...                        ...                      ...
Dask Name: from_pandas, 1 graph layer

In [99]:
import os
import rasterio
tif_max = '../data/phenology/GEDI_ANCI_PHENO_Date_Onset_Greenness_Maximum_Phase2_v5_epsg6933_1km.tif'
tif_dec = '../data/phenology/GEDI_ANCI_PHENO_Date_Onset_Greenness_Decrease_Phase2_v5_epsg6933_1km.tif'
gm = rasterio.open(tif_max)
gd = rasterio.open(tif_dec)
band_m = gm.read(1)
band_d = gd.read(1)

In [100]:
from pyproj import Transformer
transformer = Transformer.from_crs("EPSG:4326", "EPSG:6933", always_xy=True)
x, y = transformer.transform(-110, 40)
row, col = gm.index(x, y)
band_m[row, col]
band_d[row, col]

32767

In [101]:

def extract_gm(row):
    lon = row['land_segments/longitude_20m']
    lat = row['land_segments/latitude_20m']
    delta=row['land_segments/delta_time']
    x, y = transformer.transform(lon, lat)
    row_gm, col_gm = gm.index(x, y)
    row_gd, col_gd = gd.index(x, y)
    data = [lon, lat, delta, band_m[row_gm, col_gm],band_d[row_gd, col_gd]]
    names = ['land_segments/longitude_20m', 'land_segments/latitude_20m','land_segments/delta_time', 'greeness_max_p2', 'greeness_dec_p2']
    return pd.Series(data,index=names)
    # DataFrame can have multiple columns, while a Series can only have one

In [102]:
# test
for index, row in df_sample[:2].iterrows():
    print(extract_gm(row))

land_segments/longitude_20m    1.144851e+02
land_segments/latitude_20m    -2.148903e+00
land_segments/delta_time       1.360168e+08
greeness_max_p2                3.276700e+04
greeness_dec_p2                3.276700e+04
dtype: float64
land_segments/longitude_20m    1.144851e+02
land_segments/latitude_20m    -2.149082e+00
land_segments/delta_time       1.360168e+08
greeness_max_p2                3.276700e+04
greeness_dec_p2                3.276700e+04
dtype: float64

In [68]:
ddf._meta

Empty DataFrame
Columns: [land_segments/longitude_20m, land_segments/latitude_20m, land_segments/delta_time]
Index: []

In [107]:
meta_df = {'land_segments/longitude_20m':'float64',
'land_segments/latitude_20m':'float64',
'land_segments/delta_time': 'float64',
'greeness_max_p2': 'uint16',
'greeness_dec_p2': 'uint16'}
res = ddf.map_partitions(lambda partition: partition.apply(lambda row: extract_gm(row), axis=1), meta=meta_df)

In [108]:
greeness = res.compute()

In [109]:
greeness.to_parquet('../result/greeness_calval_p2_02282024.parquet')

In [113]:
df2= pd.read_parquet('../result/greeness_calval_p1_02282024.parquet')
df3= pd.read_parquet('../result/greeness_calval_p2_02282024.parquet')

In [124]:
merged_df = df.join(df2[['greeness_max_p1','greeness_dec_p1']])

In [132]:
# concate. 
#merged_df_v2 = df2.merge(df, on=['land_segments/longitude_20m', 'land_segments/latitude_20m', 'land_segments/delta_time', 'lazfile'])
len(df), len(df2) , len(df3), len(merged_df), len(merged_df_v2)

(2106099, 2106099, 2106099, 2106099, 11940169)

In [ ]:
# same is2 20m segemnt, but differnt laz file.

In [141]:
df2[:12].merge(df[:12], on=['land_segments/longitude_20m', 'land_segments/latitude_20m', 'land_segments/delta_time'])

,land_segments/longitude_20m,land_segments/latitude_20m,land_segments/delta_time,greeness_max_p1,greeness_dec_p1,region,site_name,orbit_info/sc_orient,root_file,root_beam,...,als_rh99,als_rh100,z_ground,ground_q0,ground_q25,ground_q50,ground_q75,ground_q100,als_slope_degrees,Strong_flag
0,114.485123,-2.148903,1.360168e+08,163.0,230.0,seasia,seasia_jpl_borneo_013,0,ATL08_20220424062643_04911508_006_02.h5,gt3l,...,24.905184,27.148784,11.131216,10.63,11.00,11.12,11.2400,11.77,78.698620,True
1,114.485100,-2.149082,1.360168e+08,163.0,230.0,seasia,seasia_jpl_borneo_013,0,ATL08_20220424062643_04911508_006_02.h5,gt3l,...,21.319357,22.723357,11.116643,10.76,10.99,11.10,11.2100,11.90,78.655671,True
2,114.484901,-2.151066,1.360168e+08,83.0,282.0,seasia,seasia_jpl_borneo_013,0,ATL08_20220424062643_04911508_006_02.h5,gt3l,...,21.277844,29.081044,11.098956,10.70,10.95,11.06,11.2000,11.93,71.743573,True
3,114.485321,-2.146918,1.360168e+08,163.0,230.0,seasia,seasia_jpl_borneo_013,0,ATL08_20220424062643_04911508_006_02.h5,gt3l,...,25.899210,27.094710,11.245290,10.95,11.14,11.21,11.3400,11.79,77.222233,True
4,114.485062,-2.149442,1.360168e+08,163.0,230.0,seasia,seasia_jpl_borneo_013,0,ATL08_20220424062643_04911508_006_02.h5,gt3l,...,24.103333,26.987733,11.122267,10.69,10.96,11.09,11.2725,11.87,77.610661,True
5,114.485161,-2.148540,1.360168e+08,163.0,230.0,seasia,seasia_jpl_borneo_013,0,ATL08_20220424062643_04911508_006_02.h5,gt3l,...,27.029683,28.669683,11.150317,10.88,11.04,11.11,11.2200,11.85,79.595575,True
6,114.485138,-2.148721,1.360168e+08,163.0,230.0,seasia,seasia_jpl_borneo_013,0,ATL08_20220424062643_04911508_006_02.h5,gt3l,...,26.813339,28.628139,11.121861,10.84,11.01,11.10,11.2100,11.85,44.956958,True
7,130.803207,-13.201902,1.073850e+08,7.0,80.0,australia,australia_litchfield,1,ATL08_20210527210614_09781108_006_01.h5,gt1r,...,15.966512,17.305812,220.854188,220.70,220.82,220.86,220.8800,221.38,73.020371,True
8,130.803299,-13.201002,1.073850e+08,7.0,80.0,australia,australia_litchfield,1,ATL08_20210527210614_09781108_006_01.h5,gt1r,...,17.776142,20.116142,220.663858,220.58,220.64,220.66,220.6800,221.16,73.117667,True
9,130.803391,-13.200101,1.073850e+08,7.0,80.0,australia,australia_litchfield,1,ATL08_20210527210614_09781108_006_01.h5,gt1r,...,19.527571,20.607571,220.422429,220.32,220.40,220.42,220.4400,220.99,84.764093,True
10,130.771362,-13.202439,7.599782e+07,326.0,53.0,australia,australia_litchfield,0,ATL08_20200529142654_09780708_006_01.h5,gt1l,...,20.281377,21.317877,227.372123,227.25,227.34,227.37,227.3900,227.90,0.573061,True
11,130.771362,-13.202439,7.599782e+07,326.0,53.0,australia,australia_litchfield,0,ATL08_20200529142654_09780708_006_01.h5,gt1l,...,20.008490,21.197890,227.322110,227.22,227.30,227.32,227.3400,227.77,0.573061,True
12,130.771362,-13.202439,7.599782e+07,326.0,53.0,australia,australia_litchfield,0,ATL08_20200529142654_09780708_006_01.h5,gt1l,...,20.281377,21.317877,227.372123,227.25,227.34,227.37,227.3900,227.90,0.573061,True
13,130.771362,-13.202439,7.599782e+07,326.0,53.0,australia,australia_litchfield,0,ATL08_20200529142654_09780708_006_01.h5,gt1l,...,20.008490,21.197890,227.322110,227.22,227.30,227.32,227.3400,227.77,0.573061,True

In [ ]:
# join .....
#

In [ ]:
#